{% extends "base.html" %}
    {% block content_block %}
    <h1>Hellow, this is index.html testing TemplateView {{ injectme }}</h1>
    <h2>Access Records</h2>
    <p>{{ message|title }}</p>
    <p>{{ message|cut:"hello" }}</p>
    <p>{{ num|add:50 }}</p>
    <p>Is authenticated: {{ user.is_authenticated }}</p>
    <div id="accessRecord" class="col-12">
        {% if access_records %}
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Date</th>
            </thead>
            <tbody>
            {% for acc in access_records %}
                <tr>
                    <td>{{ acc.name }}</td>
                    <td>{{ acc.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>
    {% endblock %}